<section id="ship-info container">
    <a class="return-button" ng-click="$ctrl.go('/ships/')">Tornar</a>
    <img ng-if="$ctrl.dataLoading"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <div ng-if="!$ctrl.dataLoading && !$ctrl.error" class="row">
        <div id="starship-img" class="col-xs-12 col-sm-12 col-md-offset-1 col-md-6 text-center">
            <img ng-src="https://starwars-visualguide.com/assets/img/starships/{{$ctrl.shipId}}.jpg">
        </div>
        <div id="starship-info" class="col-xs-12 col-sm-12 col-md-4">
            <h3>{{$ctrl.starship.name}}</h3>
            <div>
                <b>Model: </b><span>{{$ctrl.starship.model}}</span><br>
                <b>Manufacturer: </b><span>{{$ctrl.starship.manufacturer}}</span><br>
                <b>Class: </b><span>{{$ctrl.starship.starship_class}}</span><br>
                <b>Cost: </b><span>{{$ctrl.starship.cost_in_credits}} credits</span><br>
                <b>Speed: </b><span>{{$ctrl.starship.max_atmosphering_speed}}</span><br>
                <b>Hyperdrive Rating: </b><span>{{$ctrl.starship.hyperdrive_rating}}</span><br>
                <b>MGLT: </b><span>{{$ctrl.starship.name}}</span><br>
                <b>Length: </b><span>{{$ctrl.starship.length}}m</span><br>
                <b>Cargo Capacity: </b><span>{{$ctrl.starship.cargo_capacity}} metric tons</span><br>
                <b>Mimimum Crew: </b><span>{{$ctrl.starship.crew}}</span><br>
                <b>Passengers: </b><span>{{$ctrl.starship.passengers}}</span><br>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div style="margin-top:15px" class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6"
            ng-if="$ctrl.starship.films.length > 0">
            <h3>Related Films</h3>
            <div class="flex-row">
                <div class="related_info" ng-repeat="film in $ctrl.starship.films_info">
                    <img ng-src="https://starwars-visualguide.com/assets/img/films/{{film.id}}.jpg">
                    <h6>{{film.info.title}}</h6>
                </div>
            </div>
        </div>
        <div style="margin-top:15px" class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6"
            ng-if="$ctrl.starship.pilots.length > 0">
            <h3>Related Pilots</h3>
            <div class="flex-row">
                <div class="related_info" ng-repeat="pilot in $ctrl.starship.pilots_info">
                    <img ng-src="https://starwars-visualguide.com/assets/img/characters/{{pilot.id}}.jpg">
                    <h6>{{pilot.info.name}}</h6>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="alert alert-danger" role="alert" ng-if="$ctrl.error">
    Hi ha hagut un error al fer la petició
</div>